footer {
    height: max-content;
    width: 100%;
    background-color: var(--secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.icon {
    font-size: calc(var(--font-size) * 1.5);
}

.icon:hover {
    transform: scale(1.2);
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1em;
}

footer > ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


}

footer > ul > li {
    font-size: calc(var(--font-size) * 1.5);
    display: inherit;
    flex-direction: column;
    gap: 0.5em;
}

