#presentation {
    background-color: var(--primary);
    color: var(--text);
}

.texte-presentation, .image-presentation {
    margin: calc(2vh) calc(5vw);
    padding: calc(2vh) calc(2vw);
}

#imagePresentation {
    border-radius: 50%;
}


.split {
    display: grid;
    grid-template-columns: 7fr 4fr;
}