.projet {
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.description-projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    background-color: var(--secondary);

    aspect-ratio: 2/1;

    gap: 1em;
    padding: 1em;
    border-radius: 25px;
}

.description-projet p {
    text-align: left;
}

.description-droite {
    transform: translateX(-50px) translateY(15%);
}

.description-gauche {
    transform: translateX(50px) translateY(15%);
}

.image-projet {
    background-color: var(--primary);

    aspect-ratio: 1.5/1;

    display: flex;
    align-items: center;

    padding: 5%;
    overflow: hidden;
    border-radius: 25px;
}

.icon-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.icon-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-size: calc(var(--font-size) * 2);
    font-family: var(--font-family);
    color: var(--accent);
}



.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.icon-dev  img {
    width: 50px !important;
    height: 50px !important;
}