@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;

    --text: #121714;
    --background: #FCFDFC;
    --primary: #19cc6d;
    --secondary: #D6CCCC;
    --accent: #1D6BAF;

    
    --font-family: 'Manrope', sans-serif;
    --font-size: 25px;


    font-size: var(--font-size);
    font-family: var(--font-family);
}

body {
    background-color: var(--background);
}


main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin: calc(2vh) calc(5vw);
    padding: calc(2vh) calc(2vw);

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 5px;
}

h1 {
    font-size: calc(var(--font-size) * 1.75);
}

h2 {
    font-size: calc(var(--font-size) * 1.5);
}

h3 {
    font-size: calc(var(--font-size) * 1.25);
}

h4 {
    font-size: var(--font-size);
}

h5 {
    font-size: calc(var(--font-size) * 0.75);
}

h6 {
    font-size: calc(var(--font-size) * 0.5);
}

p {
    font-size: var(--font-size);
    text-align: justify;
}


button {
    font-size: calc(var(--font-size) * 0.7);
    height: 40px;
    width: 200px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--background);
}

.btn-secondary {
    background-color: var(--secondary);
}



a {
    position: relative;
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    cursor: pointer;
}

a::before {
    content: '';
    position: absolute;
    bottom: -6px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: var(--accent); 
    transition: 0.5s ease ; 
}

a:hover::before {
    width: 100%;
}


img {
    width: 100%;
    height: auto;
}

.accents {
    color: var(--accent);
}